body{
    margin: 0;
    font-family: Open Sans;
    color:#5b5b5b;
    background-color:#f2f6fc;
}

.header{
    color: white;
    width: 100%;
    height: 240px;
    line-height: 50px;
    overflow: hidden;
    background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
}

.logo{
    margin-top:40px;
    margin-left: 12%;
    width: 220px;
    float: left;
}

.header h1{
    font-weight: normal;
    text-align: center;
    padding:0;
    margin-top: 140px;
    font-size: 45px;
}

.menu, .sign, .signed{
    float: right;
    margin: 0;
    list-style-type:none;
    text-align: right;
    margin-right: 12%;
}

.menu{
    display: inline-block;
    position: absolute;
    top: 52px;
    right: 0;
    margin: 0;
    list-style-type:none;
    text-align: right;
    margin-right: 12%;
}

.menu li{
    display: inline;
    padding: 14px;
}

.sign li, .signed li{
    display: inline;
}

.menu a, .sign a, .signed a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.sign a, .signed a{
    font-size: 15px;
    padding: 3px 10px;
}

.sign a:hover , .signed a:hover{
    opacity: 0.8;
}   

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color:white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
  
.active{
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color:white;
}


#login, #popupReserva{
    display: none; 
    position: fixed; 
    z-index: 80; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); 
}

#loginR{
    display: none; 
    position: fixed; 
    z-index: 80; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); 
}

#login-content, #popupReserva-content{
    padding: 2%;
    position: relative;
    background-color:white;
    margin: 10% auto;
    border-top: 6px solid #00a1f5; 
    width: 28%;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#popupReserva-content{
    padding: 3% 3% 3.5% 3%;
    width: 45%;
}

#register-content{
    padding: 2%;
    position: relative;
    background-color:white;
    margin: 1% auto;
    border-top: 6px solid #00a1f5; 
    width: 35%;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#login-content h3{
    display: inline-block;
    margin: 6px 0 50px 10px;
    font-size: 24px;
    font-weight: normal;
}

#register-content h3, #popupReserva-content h3{
    display: inline-block;
    margin: 6px 0 28px 10px;
    font-size: 24px;
    font-weight: normal;   
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#closeModal, #closeModal2{
    padding:0;
    cursor: pointer;
    color: black;
    float: right;
    font-size: 28px;
    margin-top:5px;
    margin-right:8px;
}

#closeModal:hover, #closeModal2:hover{
    color: #00a1f5;
}

input[type=password], input[type=email], input[type=text]{
    margin:5px 10px 25px 10px;
    width: 92%;
    padding: 1%;
    outline: none;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    color:black;
    font-size: 15px;
}

#login-content input[type=email],#login-content input[type=password]{
    margin-bottom: 40px;
}

label{   
    margin-left: 3.3%;
    margin-top: 1.4%;
    font-size: 13.5px;
    color: grey;
}

input[type=submit]{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 30px;
    background-color: #00a1f5;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    margin-left: 8px;
    margin-top: 12px;
}

input[type=submit]:hover{
    padding: 6px 28px;
    color: #00a1f5;
    border: 2px solid #00a1f5;
    background-color: white;
}

.secondary_btn{
    text-decoration: none;
    color:#5b5b5b;
    font-size: 14px;
    padding-left: 8px;
}

.secondary_btn:hover{
    color: #00a1f5;
}

.error-container{
    margin: 0 28px 20px 10px;
    padding: 5px 20px;
    color: #a94442;
    background-color: #f2dede;
    border:1px solid #ebccd1;
    border-radius: 4px;
}

.error-origen{
    margin:0;
    margin-top: 30px;
}

#success-container{
    margin: 0 28px 20px 10px;
    padding: 5px 20px;
    color: #547b28;
    background-color: #d1efaf;
    border:1px solid #a3cd73;
    border-radius: 4px;
}

.requiredC{
    font-size: 15px;
    float: right;
    margin-right: 5%;
    margin-top: 18px;
    color: #00a1f5;
}
 
.footer{
    border-top:2px solid #dee0df;
    margin: 15px 15px 0 15px;
    text-align: center;
    padding-top: 50px;
}

.footer img{
    width: 180px;
}

.footer ul{
    list-style-type: none;
    padding: 0;
}

.footer li{
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

.footer a{
    text-decoration: none;
    color:black;
}

.footer-menu a:hover{
    color:#00a1f5;
}

.footer p{
    font-size: 14px;
    color: #989696;
    letter-spacing: 0.5px;
    padding: 18px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.footer .fab{
    color: #5b5b5b;
    font-size: 22px;
}

.fa-facebook:hover{
    color:#4267b2;
}

.fa-twitter:hover{
    color:#2daae2;
}

.fa-instagram:hover{
    color:#9e459f;
}

.footer span{
    bottom: 3px;
    position: relative;
}

.footer img{
    margin-right: 5px;
}