.lugares-content{
   width: 800px;
   margin: 0 auto;
   overflow: auto;
}

table{
    border-radius: 15px;
    padding: 25px;
    border: 3px solid #103f6e;
    border-top: 45px solid #103f6e;
    border-spacing: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.empty:hover{
    border:2px solid #00a1f5;
    cursor: pointer;
}

.pasillo{
    width: 50px;
    border: none;
}

.pasillo:hover{
    border:none;
    cursor: auto;
}

.lugares-table{
    float: left;
}

.side-container{
    margin-left: 60px;
    margin-top: 90px;
    display: inline-block;
}

.square-container{
    margin-top: 20px; 
}

.square-disponible{
    margin-top: 20px;
    display: inline-block;
    border: 2px solid #c2c2c2;
    padding: 20px;
}

.square-reservado{
    margin-top: 20px;
    display: inline-block;
    background-color: #00a1f5;
    color: white;
    padding: 22px;
}

.square-vendido{
    margin-top: 20px;
    display: inline-block;
    background-color: #53d168;
    padding: 22px;
}

.square-text{
    position: relative;
    display: inline-block;
    bottom:15px;
    margin-left: 15px;
}

.siguiente{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 30px;
    background-color: #00a1f5;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    position: relative;
    bottom: 0;
    float: left;
    margin-top: 30px;
}

.siguiente2{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 30px;
    background-color: #00a1f5;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: 30px;
    margin-left: 20px;
}


.atras{
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 6px 28px;
    color: #00a1f5;
    border: 2px solid #00a1f5;
    background-color: transparent;
}

.siguiente span{
    padding-left: 8px;
}

.siguiente:hover{
    padding: 6px 28px;
    color: #00a1f5;
    border: 2px solid #00a1f5;
    background-color: transparent;
}

.lastP{
    margin-bottom: 45px
}

hr{
    border-top-color: #c2c2c2;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.paymentP{
    width: 800px;
    text-align:center;
    margin: 0 auto;
}

.empty{
    font-size: 22px;
    text-align: center;
    padding:  10px 15px;
    border: 2px solid #c2c2c2;
}

.reserved{
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    padding:  10px 15px;
    background-color: #00a1f5;
    color: white;
}

.reserved2{
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    padding:  10px 15px;
    background-color: #00a1f5;
    color: white;
}

.buyed{
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    padding:  10px 15px;
    background-color: #53d168;
    color: white;
}

.footer{
    margin-top: 40px !important;
}
