.container{
    margin:4% auto;
    background-color: #103f6e;
    width: 70%;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    margin-bottom: 10%;
}

.address h3{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
}

.address{
    color: white;
    width: 35%;
    background-color: #103f6e;
    float: left;
    height: 400px;
}

.address-content{
    margin-left: 5%;
}

.address-content p{
    margin-left: 10px;
    padding: 4%;
    font-size: 16px;
}

svg{
    width: 10%;
    fill: white;
    margin-bottom: -10px;
    padding-right: 4%;
}

#map{
    height: 500px;
}
